.artist-item {
  width: 25%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  line-height: 150%;
  margin-bottom: 10px; }
  @media (max-device-width: 430px) {
    .artist-item {
      width: 50%; } }

.artist-item:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background: url("/img/artist-before.png");
  background-size: 100%;
  z-index: 10; }

.artist-item img {
  width: 100%; }

.artist {
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid #d2b45d;
  line-height: 150%;
  font-weight: bold; }

.hover-btn {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(3);
  transition: all 0.3s;
  text-align: center;
  color: #d2b45d; }

.hover-btn span {
  vertical-align: middle; }

.hover-btn:before {
  height: 100%;
  display: inline-block;
  width: 0;
  content: '';
  vertical-align: middle; }

.hover-btn:hover {
  opacity: 1;
  transform: scale(1); }

.artist-pre img {
  width: 100%; }

.artist-block h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.3em; }

.artists-block .letter {
  margin-right: 5px;
  line-height: 130%;
  color: #d2b45d; }

.artists-block .letter.active {
  font-weight: bold;
  color: black; }

.artists-block .artists {
  margin-top: 20px; }

body {
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  color: #5f5f5f; }

.body {
  box-sizing: border-box;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow:0 0 1px rgba(0,0,0,0.5);*/ }
  @media (min-device-width: 1201px) {
    .body {
      width: 1170px; } }
  @media (max-device-width: 1200px) {
    .body {
      width: 100%; } }

li {
  list-style: none; }

a {
  color: #5f5f5f;
  text-decoration: none; }

@font-face {
  font-family: 'g';
  src: url("../fonts/g.eot");
  src: url("../fonts/g.eot?#iefix") format("embedded-opentype"), url("../fonts/g.woff") format("woff"), url("../fonts/g.ttf") format("truetype"), url("../fonts/g.svg#g") format("svg");
  font-weight: normal;
  font-style: normal; }

.floater, .left, .right, .middle {
  float: left; }

.left, .right, .middle {
  box-sizing: border-box; }

.left, .right {
  width: 20%; }

.right::after {
  clear: left; }

.middle {
  width: 60%; }
  @media (max-device-width: 1200px) {
    .middle {
      width: 80%; } }

.clear {
  clear: both; }

.gold-text {
  color: #d2b45d; }

.gray-text {
  color: #999999; }

h1 {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase; }

.shaded {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  .shaded.little {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }

.show-more {
  text-align: center;
  color: #d2b45d;
  margin-top: 20px; }

.show-more .holder {
  display: inline-block;
  position: relative;
  height: 60px;
  width: 60px; }

.show-more .holder i {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: translate(-50%, -50%);
  font-size: 25px; }

.show-more .holder .icon-more-in {
  transform: translate(-65%, -42%); }

.show-more .holder .icon-more-out {
  font-size: 60px;
  transform: translate(-60%, -42%);
  transition: transform 0.5s;
  transform-origin: 60% 42%; }

.show-more .holder .icon-more-out:hover {
  transform: translate(-60%, -42%) rotateZ(180deg); }

.pluso-more, .pluso-counter {
  display: none !important; }

.bottom {
  margin-top: 50px;
  border-top: 2px solid #d2b45d;
  background: #f8f8f8;
  line-height: 400%; }

.bottom .left {
  width: 80%; }

.bottom .left .text {
  padding: 0 20px; }


.forum-block .message-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px; }
  .forum-block .message-item:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    background: url("/img/user-before.png");
    background-size: 100%;
    z-index: 10;
    top: 0;
    left: 0; }
  .forum-block .message-item .author {
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    position: relative;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media (max-device-width: 1200px) {
      .forum-block .message-item .author {
        width: 30%; } }
    .forum-block .message-item .author:before {
      height: 100%;
      width: 0;
      content: '';
      display: inline;
      vertical-align: middle; }
  .forum-block .message-item .text {
    border-left: 1px solid #d2b45d;
    box-sizing: border-box;
    width: 80%;
    padding: 10px; }
    @media (max-device-width: 1200px) {
      .forum-block .message-item .text {
        width: 70%; } }
    .forum-block .message-item .text .message {
      min-height: 4em;
      display: inline-block; }

.forums-block .forum-item {
  margin: 20px 0; }
  .forums-block .forum-item a i {
    font-size: 2em;
    float: left; }
  .forums-block .forum-item a > span {
    margin-left: 10px; }
    .forums-block .forum-item a > span.stat {
      font-size: 0.7em; }
      .forums-block .forum-item a > span.stat .last, .forums-block .forum-item a > span.stat .members, .forums-block .forum-item a > span.stat .messages {
        display: inline-block;
        vertical-align: middle; }
      .forums-block .forum-item a > span.stat .members, .forums-block .forum-item a > span.stat .messages {
        width: 17%; }
      .forums-block .forum-item a > span.stat .last {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .forums-block .forum-item a > span .delim {
      margin: 0 20px; }
    .forums-block .forum-item a > span.name {
      position: relative; }
      .forums-block .forum-item a > span.name:after {
        transition: transform 0.3s;
        transform: scaleX(0);
        width: 100%;
        position: absolute;
        top: 100%;
        height: 1px;
        background: #d2b45d;
        content: '';
        left: 0;
        transform-origin: left top; }
      .forums-block .forum-item a > span.name:hover::after {
        transform: scaleX(1); }

i {
  font-family: 'g';
  font-style: normal;
  display: inline-block;
  /*line-height:200%;*/
  vertical-align: middle;
  font-size: 1.3em; }

i.icon-search:after {
  content: '\0041';
  transform: translateX(-200%);
  display: inline-block; }

i.icon-like:after {
  content: '\0042'; }

i.icon-more-in:after {
  content: '\0043'; }

i.icon-more-out:after {
  content: '\0044'; }

i.icon-insta:after {
  content: '\0045'; }

i.icon-vk:after {
  content: '\0046'; }

i.icon-youtube:after {
  content: '\0047'; }

i.icon-add-track:after {
  content: '\0048'; }

i.icon-artists:after {
  content: '\0049'; }

i.icon-forum:after {
  content: '\004a'; }

i.icon-home:after {
  content: '\004b'; }

i.icon-instrumental:after {
  content: '\004c'; }

i.icon-news:after {
  content: '\004d'; }

i.icon-recent:after {
  content: '\004e'; }

i.icon-song:after {
  content: '\004f'; }

i.icon-top-100:after {
  content: '\0050'; }

i.icon-user:after {
  content: '\0051'; }

i.icon-back:after {
  content: '\0052'; }

i.icon-love:after {
  content: '\0054'; }

i.icon-play:after {
  content: '\0055'; }

i.icon-download:after {
  content: '\0053'; }

i.gold {
  color: #d2b45d; }

i.black {
  color: black; }

input {
  font-size: 1em;
  vertical-align: middle;
  padding: 0 10px; }

input[type=text], [type=email], [type=password] {
  border: 1px solid #999999;
  line-height: 200%; }

/*input[type=text]:hover{
    box-shadow:0 0 5px $gold;
}*/
input[type=text], [type=email], [type=password], [type=submit]:focus {
  outline-color: #d2b45d; }

input[type=submit] {
  display: inline-block;
  color: #d2b45d;
  border: 1px solid #d2b45d;
  background: transparent;
  padding: 10px; }

input[type=submit]:hover {
  box-shadow: 0 0 5px #d2b45d; }

.reg {
  text-align: center;
  position: relative;
  padding: 60px 0px; }

.reg:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background: url("/img/news-before.png");
  background-size: 100%;
  top: 0;
  left: 0; }

.reg label {
  padding: 10px 20px;
  border-right: 1px solid #d2b45d;
  box-sizing: content-box;
  display: inline-block;
  width: 150px;
  text-align: right; }

.reg input:not([type=submit]) {
  margin-left: 20px;
  width: 300px; }

.reg .input-row:not(:last-child) {
  margin-bottom: 20px; }

@media (max-device-width: 1200px) {
  .main .right {
    display: none; } }

.main .middle {
  padding: 0 10px 0 0; }
  @media (max-device-width: 1200px) {
    .main .middle {
      padding: 0;
      width: 100%; } }

@media (max-device-width: 1200px) {
  .main .left {
    display: none; } }

.main .news-block .small-container {
  width: 40%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box; }
  @media (max-device-width: 1200px) {
    .main .news-block .small-container {
      width: 100%;
      padding: 0; } }

.main .news-block .news {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.main .news-block .news.big {
  width: 60%;
  height: 470px;
  float: left; }
  @media (max-device-width: 1200px) {
    .main .news-block .news.big {
      width: 100%;
      height: 300px;
      margin-bottom: 10px; } }

.main .news-block .news.big .title {
  font-weight: bold;
  border-bottom: 1px solid #d2b45d;
  font-size: 1.5em;
  margin-bottom: 10px;
  display: inline-block; }

.main .news-block .news.small {
  width: 100%;
  height: 150px;
  margin-bottom: 10px; }

.main .news-block .news.small:before {
  width: 50px;
  height: 50px; }

.main .news-block .news.small:last-child {
  margin-bottom: 10px; }

.main .news-block .news:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background: url("/img/news-before.png");
  background-size: 100%; }

.main .news-block .news .item {
  background: url(/img/news.jpg);
  background-size: cover;
  height: 100%; }

.main .news-block .news .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px; }

.main .news-block .news .title, .main .news-block .news .desc {
  color: white; }

.main .news-block .news .more {
  margin-top: 10px;
  color: #d2b45d; }

.main .new-songs {
  margin-top: 10px;
  margin-left: -5px;
  margin-right: -5px; }

.main .new-songs h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px; }

.menubar {
  font-size: 14px;
  /*background:wheat;*/ }

.menubar .logo {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 10px; }

.menubar .header {
  color: #d2b45d;
  text-transform: uppercase;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold; }

.menubar ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  /*font-size:1.1em;*/ }

.menubar ul li {
  line-height: 200%; }

.menubar ul .active {
  border-bottom: 1px solid #d2b45d; }

.menubar ul a {
  transition: color 0.3s; }

.menubar ul a:hover {
  color: #d2b45d; }

.menubar .top a {
  transition: color 0.3s; }
  .menubar .top a:hover {
    color: #d2b45d; }

.menubar .social {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.menubar .social a {
  display: block;
  float: left;
  width: 30%;
  text-align: center;
  font-size: 200%;
  transition: text-shadow 0.3s; }
  .menubar .social a:hover {
    text-shadow: 0 0 10px rgba(210, 180, 93, 0.4); }

.menubar .social img {
  width: 30%;
  padding: 5px;
  box-sizing: border-box; }


.pager {
  text-align: center; }
  .pager .letter {
    margin-right: 5px;
    line-height: 130%;
    color: #d2b45d; }
  .pager .letter.active {
    font-weight: bold;
    color: black; }

.player {
  padding: 10px; }
  .player .left-part {
    float: left; }
  .player .play {
    font-size: 2em; }
  .player .seek-item {
    float: left;
    width: 50%;
    margin-top: 0.6em;
    margin-left: 10px;
    position: relative; }
    .player .seek-item input {
      padding: 0;
      height: 100%;
      z-index: 11;
      width: 100%;
      position: relative;
      outline: none;
      opacity: 0;
      cursor: pointer; }
    .player .seek-item .progress {
      width: 100%;
      height: 0.7em;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 10;
      margin: auto;
      border: 1px solid #d2b45d; }
      .player .seek-item .progress .current {
        width: 10%;
        background: #d2b45d;
        height: 100%;
        position: relative; }
        .player .seek-item .progress .current:after {
          display: inline;
          position: absolute;
          content: '';
          height: 250%;
          background: #d2b45d;
          width: 1px;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto; }
  .player .minutes {
    font-size: 1.2em;
    color: #d2b45d;
    float: left;
    line-height: 240%;
    margin-left: 10px; }
  .player .download {
    float: left;
    margin-left: 20px;
    font-size: 2em; }
    .player .download .size {
      font-size: 0.6em;
      vertical-align: middle; }

.right .ad {
  width: 100%; }

.right .ad img {
  width: 100%; }

.song-item-main {
  width: 25%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  line-height: 150%;
  margin-bottom: 10px; }
  @media (max-device-width: 430px) {
    .song-item-main {
      width: 50%; } }

.song-item-main:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background: url("/img/song-before.png");
  background-size: 100%;
  z-index: 10; }

.song-item-main img {
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: block; }

.song-item-main .like {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 35px;
  width: 35px; }
  .song-item-main .like:hover label {
    transform: translateY(0); }
  .song-item-main .like label {
    cursor: pointer;
    transition: transform 0.3s;
    transform: translateY(-100%);
    display: block;
    height: 100%;
    width: 100%;
    position: relative; }
    .song-item-main .like label i[class*='icon-'] {
      position: absolute;
      height: 100%;
      width: 100%;
      font-size: 2em;
      text-align: center;
      animation-fill-mode: forwards !important;
      line-height: 35px; }
    .song-item-main .like label .icon-love {
      opacity: 0;
      transition: opacity 0.5s; }
  .song-item-main .like input {
    display: none; }
    .song-item-main .like input:checked ~ .icon-love {
      opacity: 1; }

.song-item-main .play {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(3);
  transition: all 0.3s;
  text-align: center;
  font-size: 2em; }

.song-item-main .play:before {
  height: 100%;
  display: inline-block;
  width: 0;
  content: '';
  vertical-align: middle; }

.song-item-main .play:hover {
  opacity: 1;
  transform: scale(1); }

.song-item {
  display: block;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  background: transparent;
  transition: background 0.3s; }
  .song-item:after {
    clear: both;
    content: '';
    display: block; }
  .song-item .left-part {
    font-size: 2em;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; }
  .song-item .right-part {
    display: inline-block;
    vertical-align: middle; }
  .song-item .artist {
    line-height: 100%;
    font-weight: bold; }
  .song-item .minutes {
    float: right;
    line-height: 300%; }
  .song-item:hover {
    background: #d2b45d !important; }
    .song-item:hover .left-part i, .song-item:hover .minutes, .song-item:hover .right-part * {
      color: white; }
  .song-item:nth-child(odd) {
    background: #f3f3f3; }

.song-block h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.3em; }

.song-block .song-info .song-item-main {
  padding: 0;
  position: static; }

.song-block .song-info .text {
  padding-left: 20px;
  float: left;
  width: 75%;
  box-sizing: border-box;
  text-align: justify; }

.song-block .song-info h1 {
  text-align: left;
  font-size: 1.3em;
  text-transform: initial;
  margin-top: 0px; }

.songs-block .letter {
  margin-right: 5px;
  line-height: 130%;
  color: #d2b45d; }

.songs-block .letter.active {
  font-weight: bold;
  color: black; }

.songs-block .songs {
  margin-top: 20px; }

.top {
  padding: 10px 0; }

.top .search {
  line-height: 200%;
  padding: 0 10px;
  width: 50%; }

@media (max-device-width: 1200px) {
  .top .left {
    width: 30%; } }

.top a {
  transition: color 0.3s; }
  .top a:hover {
    color: #d2b45d; }

.top .lang {
  border: 1px solid #d2b45d;
  display: inline-block;
  margin-left: 10px; }

.top .lang a {
  padding: 0 5px; }

.top .lang a.active {
  color: #d2b45d; }
